/* DEFAULTS
----------------------------------------------------------*/

body
{
    border-style: none;
    text-align: center;   
    font-size: .80em;
    font-family: "Helvetica Neue" , "Lucida Grande" , "Segoe UI" , Arial, Helvetica, Verdana, sans-serif;   
    color: #FF0000;
    margin-left:auto;
    margin-right:auto;    
    background-image: url('../Images/background_child1b.jpg');   
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center; 
}

a:link, a:visited
{
    color: #034af3;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
    width: 535px;
    margin-left: 40px;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #666666;
    font-variant: normal;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-variant: normal;
    color: #000080;
    font-weight: normal;
    font-style: normal;
    text-transform: none;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    margin-left:auto;
    margin-right:auto;
}

.header
{
    position: relative;
    margin: 0px 0px 0px 40px;
    
    padding: 0px;
    background: #b6b7bc;
    width: 66%;
    top: -88px;
    left: 98px;
    height: 59px;
}

.header h1
{
    border-style: none;
    border-color: inherit;
    border-width: medium;
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    line-height: 2em;
    font-size: 2em;
    text-align: center;
    height: 33px;
    width: 674px;
}

.main
{
    
    margin-left:auto;
    margin-right:auto;
    
 }

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer
{
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
    height: 0px;
    width: 732px;
}



/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
    background-color:#3a4f63;
    width:100%;
    text-align: center; 

}

div.menu
{
    padding: 4px 0px 4px 8px;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

div.menu ul li a, div.menu ul li a:visited
{
    background-color: #465c71;
    border: 1px #4e667d solid;
    color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
}

div.menu ul li a:hover
{
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}


/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 0em 0px;
    padding: 0em;
    border: 0px;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
     
     margin-left:auto;
     margin-right:auto;
  
}

fieldset label.inline 
{
    display: inherit;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 42%;
}

/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
    height: 0px;
    width: 154px;
}

.title
{
     display: inherit;
    float: left;
    text-align: left;
    width: 741px;
    height: 9px;
}

.loginDisplay
{
    font-size: 1.1em;   
    text-align: left;
    padding: 10px;
    color: White;
    margin-left:auto;
    margin-right:auto;
}

.loginDisplay a:link
{
    color: white;
}

.loginDisplay a:visited
{
    color: white;
}

.loginDisplay a:hover
{
    color: white;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}
.Styleg
{
    font-family: Calibri;
    font-size: large;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    color: #000080;
    
}
.style2{
	margin: auto; 
	font-size: xx-large; 
	font-weight: 600;
	 color: #000080;
}
.style8{
	margin: auto; 
	color: #000080;
}
#MainContent_sysLogin{
	margin: auto; 
	border: 1px double rgb(0, 0, 102); 
	color: rgb(51, 51, 51); 
	font-family: 
	Verdana; 
	font-size: 0.8em; 
	border-collapse: collapse; 
	background-color: silver; 
}
#MainContent_sysLogin_LoginButton{
	style="border: 1px solid rgb(204, 204, 204); 
	height: 30px; 
	color: white; 
	font-family: Verdana; 
	font-size: medium; 
	font-weight: bold; 
	text-decoration: none; 
	background-color: rgb(0, 0, 102);" 
}

#MainContent_sysLogin_UserNameLabel,#MainContent_sysLogin_PasswordLabel{
	 style="width: 70px; 
	 color: rgb(0, 0, 102); 
	 font-size: small; 
	 font-weight: bold;"
}